<!-- ===== SKILLS ===== -->
<section id="skills" class="skills">
  <h2>Habilidades</h2>
  <div class="skills-grid">
    <div class="skill-card"><i class="fa-brands fa-angular"></i> Angular</div>
    <div class="skill-card"> TypeScript</div>
    <div class="skill-card"><i class="fa-brands fa-html5"></i> HTML</div>
    <div class="skill-card"><i class="fa-brands fa-css3"></i> CSS / SCSS</div>
    <div class="skill-card">RxJS</div>
    <div class="skill-card"><i class="fa-brands fa-node-js"></i> Node.js</div>
    <div class="skill-card"><i class="fa-brands fa-android"></i> Flutter</div>
    <div class="skill-card"><i class="fa-brands fa-docker"></i> Docker</div>
    <div class="skill-card"><i class="fa-brands fa-git"></i> Git</div>
    <div class="skill-card"> SQL</div>
    <div class="skill-card"><i class="fa-brands fa-linux"></i> Unix</div>
    <div class="skill-card"> JavaScript</div>
  </div>
</section>
